{% block title %}{% endblock %}
{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img src="https://cdn.freebiesupply.com/images/large/2x/air-jordan-logo-png-transparent.png" height="32" alt="MDB Logo" loading="lazy">
        </a>
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hommes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Femmes</a>
          </li>
        </ul>
  
        <div class="d-flex align-items-center">
          <a class="text-reset me-3" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
  
          
  
          <div class="dropdown">
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
              <li>
                <a class="dropdown-item" href="#">Profil</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Paramètre</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Commande</a>
              </li>
              <li>
                <a class="dropdown-item text-danger" href="#">Déconnexion</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
{% endblock %}
