{% extends 'base.html.twig' %}



{% block body %}
    <div class="container-fluid w-100 d-flex align-items-center justify-content-center" style="background: rgb(247, 247, 247); height: 50px">
        <p class="p-0 m-0">RÉDUCTION ÉTUDIANTE	-10 % pour les personnes éligibles. <a href="#" style="font-weight: bold; color: black">En savoir plus</a></p>
    </div>
    <div class="container-fluid mt-4">
        <h3 class="display-4 text-dark text-center" style="font-weight: 600; line-height: 72px;">À LA RENCONTRE DES LÉGENDES DU FOOT</h3>
        <div class="d-flex justify-content-center">
            <div class="w-75 m-0">
                <p class="text-center text-dark">Tu t'intéresses aux grandes stars du foot de 2023. Qui sont-elles ? Excellente question ! Il y a Chloe Kelly, Asisat Oshoala, Grace Geyoro, Ada Hegerberg, Sam Kerr, et bien d'autres encore. Découvre-les toutes dans notre nouvelle vidéo</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
    </div>

    <div class="container">
        <div class="row mt-5 flex-md-columns" id="flex-phone">
            <div class="col-md-6 d-flex justify-content-center mb-4 col-md-phone">
                <a href="#" class="btn position-relative">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_899,c_limit/e423b40b-3a65-45ba-b1d3-342fdf41e0d4/nike-just-do-it.jpg" width="100%" height="100%" alt="men">
                    <div class="position-absolute top-50 translate-middle" style="margin: 5% 0% 0% 15%;">
                        <div class="container container-image-data" style="max-width: 250px">
                            <p class="mb-4 text-start text-white"><br>Et toi, qu'est-ce qui te motive ?</p>
                            <div class="container p-0 d-flex justify-content-center justify-content-md-start">
                                <button class="btn bg-white w-md-auto" style="border-radius: 50px">Nike App</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-center mb-4 col-md-phone">
                <a href="#" class="btn position-relative">
                    <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_899,c_limit/a0b79318-bf01-40fa-b02f-dda7159aa5fe/nike-just-do-it.jpg" width="100%" height="100%" alt="men">
                    <div class="position-absolute top-50 translate-middle" style="margin: 5% 0% 0% 20%;">
                        <div class="container container-image-data" style="max-width: 350px">
                            <p class="mb-4 text-start text-white" >Des centaines d'entraînements, d'exercices<br>de respiration et plus encore</p>
                            <div class="container p-0 d-flex justify-content-center justify-content-md-start">
                                <button class="btn bg-white w-md-auto" style="border-radius: 50px">Nike Training Club</button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
